footer {
	text-align: right;
	color: #ffffff;
	margin-right: 3%;
	text-size-adjust: auto;
	font-size: large;
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;
	width: 90%;
}



@font-face {
  font-family: 'BECK_FONT';
  src: url('../fonts/BECK_FONT.ttf') format('truetype');
}

.beck-font {
  font-family: 'BECK_FONT', sans-serif;
}

.beck-font {
  font-family: 'BECK_FONT', sans-serif;
}

.beck-font {
  font-family: 'BECK_FONT', sans-serif;
}

:root {
	--rojo: #9c09e5;
	--fondo: #141414;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%;
	margin: auto;
}

header {
	padding: 30px 0;
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logotipo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	font-size: 40px;
	background: -webkit-linear-gradient(#df2892, #ffffff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #df2892;
}

header nav a {
	color: #AAA;
	text-decoration: none;
	margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
	color: #FFF;
}

/* ---- ----- ----- Pelicula Principal ----- ----- ----- */
.pelicula-principal {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/jojobaner2.jpg), center;

	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-principal .contenedor {
	margin: 0 auto 6.25em;
}

.pelicula-principal .titulo {
	font-weight: 600;
	font-family: Impact, serif;
	font-size: 6.12em;
	font-style: italic;
	margin-bottom: 0.4em;
	background: -webkit-linear-gradient(#df2892, #ffffff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #df2892;
	max-width: 110%; /* Asegura que el título no exceda el ancho de su contenedor */


}

.pelicula-principal .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}



/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
	}

	.pelicula-principal {
		font-size: 14px;
	}

	.pelicula-principal .descripcion {
		max-width: 100%;
	}
}


/* ---- ----- ----- Temporada1 ----- ----- ----- */
.pelicula-principal1 {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/phantomblood.jpg) center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-principal1 .contenedor {
	margin: 0 auto 6.25em;
}

.pelicula-principal1 .titulo {
	font-weight: 600;
	font-family: Impact, serif;
	font-size: 3.12em;
	font-style: italic;
	margin-bottom: 0.4em;
	background: -webkit-linear-gradient(#df2892, #ffffff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #df2892;
}

.pelicula-principal1 .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

/* ---- ----- ----- Temporada2 ----- ----- ----- */
.pelicula-principal2 {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/bt.jpg) center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-principal2 .contenedor {
	margin: 0 auto 6.25em;
}

.pelicula-principal2 .titulo {
	font-weight: 600;
	font-family: Impact, serif;
	font-size: 3.12em;
	font-style: italic;
	margin-bottom: 0.4em;
	background: -webkit-linear-gradient(#df2892, #ffffff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #df2892;
}

.pelicula-principal2 .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

/* ---- ----- ----- Temporada3 ----- ----- ----- */
.pelicula-principal3 {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/sc.jpg) center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-principal3 .contenedor {
	margin: 0 auto 6.25em;
}

.pelicula-principal3 .titulo {
	font-weight: 600;
	font-family: Impact, serif;
	font-size: 3.12em;
	font-style: italic;
	margin-bottom: 0.4em;
	background: -webkit-linear-gradient(#df2892, #ffffff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #df2892;
}

.pelicula-principal3 .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

/* ---- ----- ----- Temporada4 ----- ----- ----- */
.pelicula-principal4 {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/uib.jpg) center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-principal4 .contenedor {
	margin: 0 auto 6.25em;
}

.pelicula-principal4 .titulo {
	font-weight: 600;
	font-family: Impact, serif;
	font-size: 3.12em;
	font-style: italic;
	margin-bottom: 0.4em;
	background: -webkit-linear-gradient(#df2892, #ffffff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #df2892;
}

.pelicula-principal4 .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}



/* ---- ----- ----- Temporada5 ----- ----- ----- */
.pelicula-principal5 {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/gw.jpg) center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-principal5 .contenedor {
	margin: 0 auto 6.25em;
}

.pelicula-principal5 .titulo {
	font-weight: 600;
	font-family: Impact, serif;
	font-size: 3.12em;
	font-style: italic;
	margin-bottom: 0.4em;
	background: -webkit-linear-gradient(#df2892, #ffffff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #df2892;
}

.pelicula-principal5 .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

/* ---- ----- ----- Temporada6 ----- ----- ----- */
.pelicula-principal6 {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/Stone-Ocean-Header-1000x600.jpg) center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-principal6 .contenedor {
	margin: 0 auto 6.25em;
}

.pelicula-principal6 .titulo {
	font-weight: 600;
	font-family: Impact, serif;
	font-size: 3.12em;
	font-style: italic;
	margin-bottom: 0.4em;
	background: -webkit-linear-gradient(#df2892, #ffffff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #df2892;
}

.pelicula-principal6 .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

/* ---- ----- ----- Temporada1 ----- ----- ----- */
.ep {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.ep .contenedor {
	margin: 8px auto 6.25em;
}

.ep .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.ep .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

.ep .boton {
	background: rgba(51, 49, 49, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 40%;
}

.ep .boton:hover {
	background: #fff;
	color: #333131;
}

.ep .boton i {
	margin-right: 1.25em;
}

/* ---- ----- ----- Monster ----- ----- ----- */
.pelicula-principalMonster {
	font-size: 16px;
	font-family:'Monster', serif;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/Monster.png) center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-principalMonster .contenedor {
	margin: 0 auto 6.25em;
}

.pelicula-principalMonster .titulo {
	font-weight: 600;
	font-size: 8.12em;
	color: red;
	margin-bottom: 0.4em;
	font-family: "EB Garamond", serif;
	text-shadow: 0 0 12px #FF0000;
	text-align: left;

}

.pelicula-principalMonster .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}



/* ---- ----- ----- Berserk ----- ----- ----- */
.pelicula-principalBerserk {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/Berserkbanner.jpg) center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-principalBerserk .contenedor {
	margin: 0 auto 6.25em;
}

.pelicula-principalBerserk .titulo {
	font-weight: 600;
	font-size: 8.12em;
	color: #ffffff;
	margin-bottom: 0.4em;
	font-family: "Gill Sans MT", serif;
	text-shadow: 4px 0 #ff0000, -4px 0 #ff0000, 0 4px #ff0000, 0 -4px #ff0000,
	2px 2px #ff0000, -2px -2px #ff0000, 2px -2px #ff0000, -2px 2px #ff0000;
	text-align: left;
}

.pelicula-principalBerserk .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

/* ---- ----- ----- Berserk La Edad Dorada ----- ----- ----- */
.pelicula-principalBerserk1 {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/Berserkbannerlaedaddorada.jpg) center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-principalBerserk1 .contenedor {
	margin: 0 auto 6.25em;
}

.pelicula-principalBerserk1 .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-principalBerserk1 .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}


/* ---- ----- ----- Berserk El espadachin negro ----- ----- ----- */
.pelicula-principalBerserk2 {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/Berserkbannerelespadachin.jpg) center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-principalBerserk2 .contenedor {
	margin: 0 auto 6.25em;
}

.pelicula-principalBerserk2 .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-principalBerserk2 .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}


/* ---- ----- ----- Berserk Castigo ----- ----- ----- */
.pelicula-principalBerserk3 {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/Berserkbannercondena.jpg) center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-principalBerserk3 .contenedor {
	margin: 0 auto 6.25em;
}

.pelicula-principalBerserk3 .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-principalBerserk3 .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}


/* ---- ----- ----- Berserk ----- ----- ----- */
.pelicula-principalBerserk4 {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/Berserkbannerhalcon.jpg) center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-principalBerserk4 .contenedor {
	margin: 0 auto 6.25em;
}

.pelicula-principalBerserk4 .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-principalBerserk4 .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

/* ---- ----- ----- Berserk Fantasia ----- ----- ----- */
.pelicula-principalBerserk5 {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/Berserkbannerfantasia.jpg) center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-principalBerserk5 .contenedor {
	margin: 0 auto 6.25em;
}

.pelicula-principalBerserk5 .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-principalBerserk5 .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}


/* ---- ----- ----- Video ----- ----- ----- */

video {
	align-items: center;
	align-content: center;
	text-align: center;
}

@keyframes slidebg {
	to {
		background-position:20vw;
	}
}

.follow{
	margin-top: 40px;
}

.follow a{
	color: black;
	padding: 8px 16px;
	text-decoration: none;
}

.ep ol {
    list-style-type: none;
    padding: 0;
}

.ep ol li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #1a1a1a; 
    border-radius: 5px;
}

.ep ol li a {
    text-decoration: none;
    color: #ff0000;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: "EB Garamond", serif; 
    text-shadow: 0 0 10px #ff0000;
    font-size: 0.9em; 
}


.pelicula-principal .contenedor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pelicula-principal .titulo {
    align-self: flex-start;
    margin-bottom: 10px;
}

.pelicula-principal .descripcion {
    margin-bottom: 20px;
}


.pelicula-principalMonster {
	font-size: 16px;
	font-family:'Monster', serif;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/Monster.png) center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-principalMonster .contenedor {
	margin: 0 auto 6.25em;
}

.pelicula-principalMonster .titulo {
	font-weight: 600;
	font-size: 8.12em;
	color: red;
	margin-bottom: 0.4em;
	font-family: "EB Garamond", serif;
	text-shadow: 0 0 12px #FF0000;

}

.pelicula-principal .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}


/* BECK */
.pelicula-principalBECK {
    font-size: 16px;
    font-family: 'BECK', serif;
    min-height: 40.62em;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/Fondobeck.jpg) center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: center;
}

.pelicula-principalBECK .contenedor {
    margin: 0 auto 6.25em;
    display: flex;
    flex-direction: column; /* Align items in a column */
    align-items: flex-start; /* Align items to the left */
}

.pelicula-principalBECK .titulo {
    font-weight: 600;
    font-size: 2em; /* Adjust the font size */
    color: red;
    margin-bottom: 0.4em;
    font-family: "EB Garamond", serif;
    text-shadow: 0 0 12px #FF0000;
}

.pelicula-principalBECK .titulo img {
	height: auto;
    margin-bottom: 2px; /* Add some space between the image and the text */
    margin-left: -20px; /* Move the image more to the left */
}

.pelicula-principalBECK .texto {
    display: flex;
    flex-direction: column;
}

.pelicula-principalBECK .descripcion {
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
    text-align: justify; /* Justify the text */
}


@font-face {
	font-family: 'BECK_FONT';
	src: url('/Fonts/HouseBrokenClean.otf') format('opentype'),
		 url('/Fonts/HouseBrokenClean.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
  }
  
  ol.titulo.beck-font {
	font-family: 'BECK_FONT', sans-serif;
  }

.lista-episodios ul {
    list-style-type: none;
    padding: 0;
}

.lista-episodios li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #2c2c2c; /* Un negro un poco menos oscuro */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añadir sombra */
    transition: transform 0.2s; /* Añadir transición para el hover */
}

.lista-episodios li:hover {
    transform: scale(1.02); /* Aumentar ligeramente el tamaño al pasar el ratón */
}





.lista-episodios li span {
    color: #ffffff; /* Blanco para el nombre de los episodios */
    font-weight: 600;
    letter-spacing: 0.5px; /* Añadir espaciado entre letras */
    font-family: "EB Garamond", serif; /* Aplicar la misma tipografía que el título Monster */
    text-shadow: 0 0 10px #ffffff; /* Añadir brillo blanco */
    font-size: 1.8em; /* Ajustar el tamaño de la letra */
}

.titulo-episodio {
    color: #ffffff; /* Blanco para el título del episodio */
    font-size: 2em; /* Ajustar el tamaño del título */
    margin-bottom: 1em;
    text-align: center;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}


.titulo-episodio {
    font-weight: 600;
    font-size: 3em; /* Ajusta el tamaño de la fuente según sea necesario */
    color: red;
    margin-bottom: 0.4em;
    font-family: "EB Garamond", serif;
    text-shadow: 0 0 12px #FF0000;
}

nav {
  display: flex;
  align-items: center;
  gap: 1rem; /* Espacio entre los elementos del nav */
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.input {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 45px;
  padding-left: 2.5rem;
  box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
  border: 0;
  border-radius: 12px;
  background-color: #16171d;
  outline: none;
  color: #bdbecb;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  z-index: 0;
}

.input::placeholder {
  color: #bdbecb;
}

.input:hover {
  box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  box-shadow: 0 0 0 2.5px #2f303d;
}

.search-icon {
  position: absolute;
  left: 1rem;
  fill: #bdbecb;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  z-index: 1;
}

.boton {
    background: rgba(0,0,0, 0.5);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: #fff;
    margin-right: 1.25em;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1.12em;
}

.boton:hover {
    background: #fff;
    color: #000;
}

.boton .play-icon {
    width: 20px; /* Ajusta el tamaño según tus necesidades */
    height: auto; /* Mantiene la proporción del ícono */
    margin-right: 0.5em;
    vertical-align: middle;
    transition: transform 0.3s ease;
}

.boton:hover .play-icon {
    filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(50%) contrast(100%);
	transition: .3s ease all;
}


.boton-container {
    display: flex;
    justify-content: center; /* Alinea horizontalmente al centro */
    align-items: center; /* Alinea verticalmente al centro */
    margin-top: 20px; /* Espaciado superior opcional */
}



/* ---- ----- ----- Monster ----- ----- ----- */
.pelicula-principalDMCB {
	font-size: 16px;
	font-family:'Monster', serif;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/DMCB_Banner.jpg) center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-principalDMCB .contenedor {
	margin: 0 auto 6.25em;
}

.pelicula-principalDMCB .titulo {
	font-weight: 600;
	font-size: 8.12em;
	color: rgb(255, 255, 255);
	margin-bottom: 0.4em;
	font-family: "EB Garamond", serif;
	text-shadow: 0 0 12px #000000;
	text-align: left;

}

.pelicula-principalDMCB .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}